.feynman {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
  background: no-repeat left bottom url('../../images/feynman.png'), #F2F2F2;
}
