.two-columns__paragraph {
  color: #000000;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto 30px;
}

.two-columns__paragraph:nth-child(2) {
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin: 0;
}
