.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.border {
  border: 1px solid red;
}
/*header*/

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.header__logo {
  position: absolute;
  left: 64px;
  top:30px;
  height: 32px;
  width: 228px;
  z-index: 1;
}

.header__title {
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 64px;
  line-height:96px;
  font-size: 102px;
  font-weight: 600; /*ничего не изменилось нужно подумать*/
  width:730px;
  z-index: 3;
}

.header__subtitle{
  color: #000000;
  position: absolute;
  bottom: 0px;
  left: 64px;
  bottom:30px;
  width:388px;
  line-height:25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 4;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  z-index: 4;
}

.header__main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 608px;
  width: 765px;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  top:64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}
/*description*/

#description{
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:  #2f80ed;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__main-text{
  color: #000000;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  color: #000000;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0;

}

.two-columns__paragraph-margin {
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/*digits*/

#digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-title {
  color: #000000;
  text-align: center;
/*  width: 60%;*/
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 0;
}

.section-subtitle {
  color: #000000;
  text-align: center;
  /*width: 60%;*/
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 60px;

}

.table__heading {
  color: #000000;
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  color: #000000;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text-bottom {
  color: #000000;
  margin-top: 20px;
}

/*feynman*/

#feynman {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 890px;
  background-color: #f2f2f2;
  background-image: url("../how-to-learn/images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman__title{
  color: #000000;
  display: flex;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  margin-top: 100px;
  margin-bottom: 70px;
}

.feynman__subtitle {
  color: #000000;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 0;
}

.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

/*kaufman*/

#kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 890px;
  background-color: #1f1f1f;
  background-image: url(.);
}







/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
